.table-hover tbody tr:hover {
  cursor: pointer;
  background-color: #f5f5f5;
}

.card {
  margin-top: 20px;
}

.img-thumbnail {
  width: 100%;
  height: auto;
}
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-group-sm {
  width: 300px;
}

.ml-auto {
  margin-left: auto;
}

.btn-primary {
  margin-left: 10px;
}

.dropdown {
  margin-left: 10px;
}
.titleh1{
  font-size: 20px;
  font-weight: bold;
  padding-left: 10px;
}

.partner-info-card {
  margin: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.partner-info-header {
  background-color: #f5f5f5;
  border-bottom: 1px solid #e0e0e0;
  padding: 10px 20px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.partner-info-body {
  padding: 20px;
}

.partner-info-row {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.partner-info-img-col {
  flex: 1;
  max-width: 200px;
}

.partner-info-img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.partner-info-details-col {
  flex: 3;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.partner-info-detail {
  flex: 1 1 45%;
  margin-bottom: 10px;
}

.partner-info-actions-row {
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
  border-top: 1px solid #e0e0e0;
}

.partner-info-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  margin-left: 10px;
}

.partner-info-btn-update {
  background-color: #28a745;
  color: #fff;
}

.partner-info-btn-deactivate {
  background-color: #dc3545;
  color: #fff;
}

.partner-info-btn-delete {
  background-color: #ffc107;
  color: #fff;
}

.partner-info-btn:hover {
  opacity: 0.8;
}
.custom-modal-dialog {
  max-width: 1000px !important;
  margin: 1.75rem auto; /* Căn giữa modal theo chiều ngang */
}

.custom-modal-content {
  border-radius: 10px;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%; /* Đảm bảo nội dung chiếm hết chiều rộng modal */
}
