<div class="col-md-12">
  <div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
      <div class="d-flex">
        <div class="input-group input-group-sm">
          <input type="text" class="form-control" placeholder="Name, Phone..."
            [(ngModel)]="searchText">
          <div class="input-group-append">
            <button class="btn btn-secondary" type="button">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="ml-auto d-flex">
        <button type="button" class="btn btn-outline-success"
          (click)="openAddAccountModal()">+ Tạo tài khoản</button>
      </div>
    </div>

    <div class="card-body">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Tên nhân viên</th>
            <th>Số điện thoại</th>
            <th>Email</th>
            <th>Username</th>
            <th>Vai trò</th>
            <th>Trạng thái</th>
            <th>Hành động</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let account of accounts | filter:searchText"
            (click)="selectAccount(account)">
            <td>{{ account.id }}</td>
            <td>{{ account.firstname }} {{ account.lastname }}</td>
            <td>{{ account.phone }}</td>
            <td>{{ account.email }}</td>
            <td>{{ account.username }}</td>
            <td *ngIf="account.roles && account.roles.length > 0">{{
              account.roles[0].name }}</td>
            <!-- <td>
              <div class="custom-control custom-switch"
                [ngClass]="account.isDisable ? 'custom-switch-off-danger custom-switch-on-success' : 'custom-switch-off-success custom-switch-on-danger'">
                <input type="checkbox" class="custom-control-input"
                  id="customSwitch{{account.id}}"
                  [checked]="!account.isDisable"
                  (change)="onToggleAccountStatus(account)">
                <label class="custom-control-label"
                  for="customSwitch{{account.id}}"></label>
              </div>
            </td> -->
            <td *ngIf="!hasAdminRole(account); else noAdminRole">
              <div class="custom-control custom-switch"
                [ngClass]="account.isDisable ? 'custom-switch-off-danger custom-switch-on-success' : 'custom-switch-off-success custom-switch-on-danger'">
                <input type="checkbox" class="custom-control-input"
                  id="customSwitch{{account.id}}"
                  [checked]="!account.isDisable"
                  (change)="onToggleAccountStatus(account)">
                <label class="custom-control-label"
                  for="customSwitch{{account.id}}"></label>
              </div>
            </td>
            <ng-template #noAdminRole>
              <td>Không được chỉnh sửa</td>
            </ng-template>
            <td *ngIf="!hasAdminRole(account); else noAdminRoles">
              <button type="button" class="btn btn-outline-primary btn-sm"
                (click)="openEditAccountModal(account)">Sửa</button>
              <button type="button" class="btn btn-outline-danger btn-sm ml-2"
                (click)="openDeleteAccountModal(account)">Xóa</button>
              <button type="button" class="btn btn-outline-success btn-sm ml-2"
                (click)="changeRoles(account)">Thay đổi vai
                trò</button>
            </td>
            <ng-template #noAdminRoles>
              <td>Không được chỉnh sửa</td>
            </ng-template>
          </tr>
        </tbody>
      </table>
    </div>
    <!--
    <div *ngIf="selectedAccount" class="account-info-card">
      <div class="account-info-header">
        <h5>Thông tin tài khoản</h5>
      </div>
      <div class="account-info-body">
        <div class="account-info-detail"><strong>Mã tài khoản:</strong> {{
          selectedAccount.id }}</div>
        <div class="account-info-detail"><strong>Tên tài khoản:</strong> {{
          selectedAccount.name }}</div>
        <div class="account-info-detail"><strong>Email:</strong> {{
          selectedAccount.email }}</div>
        <div class="account-info-detail"><strong>Số điện thoại:</strong> {{
          selectedAccount.phone }}</div>
        <div class="account-info-detail"><strong>Vai trò:</strong>
          <ul>
            <li *ngFor="let role of selectedAccount.roles">{{ role.name }}</li>
          </ul>
        </div>
      </div>
    </div> -->

    <div class="card-footer clearfix">
      <ul class="pagination pagination-sm m-0 float-right">
        <li class="page-item"><a class="page-link" href="#">«</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">»</a></li>
      </ul>
    </div>
  </div>
</div>
